#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1{
  color: #1b1512;
  -webkit-text-stroke: 0.5px #464243;
  text-shadow: -3px 0 5px #71818d;
  vertical-align: top;
}

label{
  align-items: center;
  color: white;
  font-style: bold;
  text-shadow: -1px 1px black;
}
select{
  color: #a6b9c6;
  -webkit-text-stroke: 0.1px black;
  text-shadow: 2px 0 10px #71818d;
  width: 120px;
}